@model Sistema_Actividades_Tlahuac.Models.Actores.Instructor

@{
    ViewData["Title"] = "Desactivar el instructor";
}
@{
    var boton = new
    {
        Id = Model.Id,
        Controller = "Instructores",
        Action = "Delete"
    };
}

<partial name="_Header_Vistas" />

<hr />

<div class="row justify-content-center">

    <div class="col-lg-8">

        <div class="card shadow-sm">

            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RFC)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RFC)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Direccion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Direccion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FotoUrl)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FotoUrl)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NivelAcademico)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NivelAcademico)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DescripcionGrado)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DescripcionGrado)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Especialidad)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Especialidad)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TipoContrato)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TipoContrato)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Salario)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Salario)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FechaIngreso)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FechaIngreso)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FechaFinContrato)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FechaFinContrato)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EmailContacto)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EmailContacto)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Estado)
                    </dd>
                   
                </dl>

                <partial name="_Boton_Desactivar" model="boton" />
            </div>
        </div>
    </div>
</div>
