@model Sistema_Actividades_Tlahuac.Models.Catalogos.Lugar

@{
    ViewData["Title"] = "Desactivar la categoría";
}
@{
    var boton = new
    {
        Id = Model.Id,
        Controller = "Categorias",
        Action = "Delete"
    };
}

<partial name="_Header_Vistas" />

<hr />

<div class="row justify-content-center">

    <div class="col-lg-8">

        <div class="card shadow-sm">

            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Colonia)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Colonia)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Seccion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Seccion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Direccion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Direccion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Latitud)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Latitud)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Longitud)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Longitud)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Estado)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FechaCreacion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FechaCreacion)
                    </dd>
                </dl>
                <partial name="_Boton_Desactivar" model="boton" />
            </div>
        </div>
    </div>
</div>
