@model Sistema_Actividades_Tlahuac.Models.Catalogos.Espacio

@{
    ViewData["Title"] = "Desactivar el espacio";
}
@{
    var boton = new
    {
        Id = Model.Id,
        Controller = "Espacio",
        Action = "Delete"
    };
}

<partial name="_Header_Vistas" />

<hr />

<div class="row justify-content-center">

    <div class="col-lg-8">

        <div class="card shadow-sm">

            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Capacidad)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Capacidad)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Estado)
                    </dd>
                </dl>

                <partial name="_Boton_Desactivar" model="boton" />

            </div>
        </div>
    </div>
</div>
