@model Sistema_Actividades_Tlahuac.Models.ViewModels.Eventos.EventoDetailsViewModel

@{
    ViewData["Title"] = "Detalles del Evento";
}
<partial name="_Header_Vistas" />
<hr />

@functions {
    public string ConvertirHoraMexico(DateTime? fechaUtc)
    {
        if (!fechaUtc.HasValue)
            return "Sin información";

        var zonaMexico = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time (Mexico)");

        var fechaLocal = TimeZoneInfo.ConvertTimeFromUtc(
            fechaUtc.Value,
            zonaMexico
        );

        return fechaLocal.ToString("dd/MM/yyyy hh:mm tt");
    }
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
            <div class="card shadow-sm overflow-hidden">
                <div class="row g-0">
                    <!-- IMAGEN -->
                    <div class="col-md-5">
                        <div class="image-container-detalle"> 
                            <img src="@(string.IsNullOrEmpty(Model.ImagenUrl) ? "/images/default.jpg": Model.ImagenUrl)"
                                 class="detalle-img" />
                        </div>
                    </div>

                    <!-- INFORMACIÓN -->
                    <div class="col-md-7">
                        <div class="card-body p-4 detalle-info">

                            <h3 class="mb-3">
                                @Model.Nombre
                            </h3>

                            <p class="text-muted">
                                @Model.Descripcion
                            </p>

                            <hr />

                            <!-- INFO GENERAL -->
                            <h6 class="mb-3 text-muted">
                                Información del evento
                            </h6>

                            <div class="row">

                                <div class="col-12 col-lg-4 mb-3">
                                    <strong>Lugar:</strong><br />
                                    @Model.LugarNombre
                                </div>

                                <div class="col-12 col-lg-4 mb-3">
                                    <strong>Espacio:</strong><br />
                                    @Model.EspacioNombre
                                </div>

                                <div class="col-12 col-lg-4 mb-3">
                                    <strong>Categoría:</strong><br />
                                    @Model.CategoriaNombre
                                </div>

                            </div>

                            <!-- CAPACIDADES -->
                            <div class="row">

                                <div class="col-12 col-lg-4 mb-3">
                                    <strong>Capacidad evento:</strong><br />
                                    @Model.CapacidadMaxima
                                </div>

                                <div class="col-12 col-lg-4 mb-3">
                                    <strong>Capacidad espacio:</strong><br />
                                    @Model.CapacidadEspacio
                                </div>

                                <div class="col-12 col-lg-4 mb-3">
                                    <strong>Cupos disponibles:</strong><br />
                                    @Model.CuposDisponibles
                                </div>

                            </div>

                            <hr />

                            <!-- FECHAS -->
                            <h6 class="mb-3 text-muted">
                                Fechas del evento
                            </h6>

                            <div class="row">

                                <div class="col-12 col-lg-6 mb-3">
                                    <strong>Fecha inicio:</strong><br />
                                    @ConvertirHoraMexico(Model.FechaInicio)
                                </div>

                                <div class="col-12 col-lg-6 mb-3">
                                    <strong>Fecha fin:</strong><br />
                                    @ConvertirHoraMexico(Model.FechaFin)
                                </div>

                            </div>
                            <h6 class="text-muted mb-4">Información del sistema</h6>

                            <div class="row g-4">
                                <div class="col-12 col-lg-6 mb-3">
                                    <label class="fw-semibold text-muted d-block">Fecha de creación</label>
                                    <div>
                                        @ConvertirHoraMexico(Model.FechaCreacion)
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6 mb-3">
                                    <label class="fw-semibold text-muted d-block">Última modificación</label>
                                    <div>
                                        @ConvertirHoraMexico(Model.FechaModificacion)

                                    </div>
                                </div>

                            </div>
                            <div class="mt-5 d-flex justify-content-end gap-2">
                                <a asp-action="Edit"
                                   asp-route-id="@Model.Id"
                                   class="btn btn-dorado">
                                    Editar
                                </a>
                            </div>

                        </div>
                       

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>