@model Sistema_Actividades_Tlahuac.Models.Catalogos.Categoria

@{
    ViewData["Title"] = "Desactivar la categoría";
}
@{
    var boton = new
    {
        Id = Model.Id,
        Controller = "Categorias",
        Action = "Delete"
    };
}

<partial name="_Header_Vistas" />

<hr />

<div class="row justify-content-center">

    <div class="col-lg-8">

        <div class="card shadow-sm">

            <div class="card-body">

                <dl class="row">

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Estado)
                    </dd>
                </dl>
                <partial name="_Boton_Desactivar" model="boton" />
            </div>
        

        </div>

    </div>

</div>